<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!--<ion-card *ngFor="let p of Personal">
      <ion-item>
        <ion-avatar item-left>
          <img [src]="p?.photo" />
        </ion-avatar>
        <h2>{{p?.name}}</h2>
        <p>{{p?.created}}</p>
      </ion-item>
      <img [src]="p?.photo" />
      <ion-card-header>
        Name : {{p?.name}}
      </ion-card-header>
      <ion-card-content>
        Id : {{p?.id}}
      </ion-card-content>
      <ion-card-content>
        Detail : {{p?.detail}}
      </ion-card-content>
      <ion-card-content>
        Created : {{p?.created}}
      </ion-card-content>
      
    </ion-card>-->
  <ion-slides pager>
    <ion-slide *ngFor="let p of Personal">
      <img [src]="p?.photo" />
    </ion-slide>
  </ion-slides>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
